<div class="container px-0 flex justify-center items-center md:pt-16 mb-2">
  <div class="w-full md:mt-12 md:w-5/12 h-auto p-2 md:p-4 backdrop-blur-2 bg-white rounded shadow-lg">
    <div class="bg-transparent w-full h-auto border-b border-grayLight mb-4 md:mb-6 pt-2">
      <h2 class="text-center md:text-start text-primary">Sign Up</h2>
    </div>
    <span class="text-sm md:text-lg">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource%>
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "rounded w-full mt-2 px-1 mb-3 border-b-1 border-grayLight" %><br />
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: false, placeholder: "johndoe@gmail.com", class: "rounded w-full mt-2 px-1 mb-3 border-b-1 border-grayLight" %>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "********", class: "rounded w-full mt-2 px-1 mb-3 border-b-1 border-grayLight" %>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********", class: "rounded w-full mt-2 px-1 mb-3 border-b-1 border-grayLight" %>
        </div>
        <button class="btn btn-primary mb-2"><%= f.submit "Submit" %></button>
        <div class="container w-full flex-wrap flex text-center items-center mt-1 p-0 gap-2">
          <p>Already have an account?</p>
          <p><%= link_to "Log in", new_session_path(resource_name), class: "text-decoration-none text-primary" %></p>
        </div>
      <% end %>
    </span>
  </div>
</div>
