<div class="container px-0 flex justify-center items-center md:pt-12">
  <div class="w-full md:mt-12 md:w-5/12 h-auto backdrop-blur-3xl rounded shadow-lg sm:p-2 pt-2 px-4">
    <div class="w-full h-auto py-2 border-b border-grayLight mb-6 md:mb-12">
      <h2 class="text-center md:text-start text-light">Sign Up</h2>
    </div>
    <span class="text-sm md:text-lg">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource%>
        <%= f.label :name, class: "text-white" %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full Name", class: "input w-full mt-2 pl-2 mb-3 border-b border-grayLight text-white bg-transparent border-x-0 border-t-0 focus:border-grayLight focus:ring-transparent" %><br />
        <%= f.label :email, class: "text-white" %><br />
        <%= f.email_field :email, autofocus: false, placeholder: "johndoe@gmail.com", class: "input w-full mt-2 pl-2 mb-3 border-b border-grayLight text-white bg-transparent border-x-0 border-t-0 focus:border-grayLight focus:ring-transparent" %>
        <%= f.label :password, class: "text-white" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "********", class: "input w-full mt-2 pl-2 mb-3 border-b border-grayLight text-white bg-transparent border-x-0 border-t-0 focus:border-grayLight focus:ring-transparent" %>
        <div class="field">
          <%= f.label :password_confirmation, class: "text-white" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********", class: "input w-full mt-2 pl-2 mb-3 border-b border-grayLight text-white bg-transparent border-x-0 border-t-0 focus:border-grayLight focus:ring-transparent" %>
        </div>
        <button class="btn btn-primary mb-2"><%= f.submit "Submit" %></button>
        <div class="container w-full flex-wrap flex text-center items-center mt-1 p-0 gap-2">
          <p class="text-grayLight">Already have an account?</p>
          <p><%= link_to "Log in", new_session_path(resource_name), class: "text-decoration-none text-primary" %></p>
        </div>
      <% end %>
    </span>
  </div>
</div>
