<div class="container px-0">
  <%= form_with model: Inventory, url: user_inventories_path, method: :post do |f| %>

  <% if @inventory.errors.any? %>
     <ul class = "errors-decr">
        <% @inventory.errors.full_messages.each do |errors| %>
          <li><%= errors %></li>
        <% end %>
     </ul>
  <% end %>
  <%= f.text_field :name, placeholder:"Inventory name", class:"w-full border focus:border-transparent focus:ring-1 rounded"  %>
  <%= f.text_area :description, placeholder:"Inventory description", class:"w-full border focus:border-transparent focus:ring-1 mt-3 rounded" %>
  <%= f.submit "Create Inventory", class: "btn btn-success mt-4" %>
<% end %>
</div>
